@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is built with a C# ASP.Net MVC framework.  The site uses a series of forms to collect different types of input information from the user and allows them to select various options. The site provides some level of CRUD functionality to the user for creating, reading, and updating their personal information. Once all the information is collected, the user submits a post request to the Interstellar Financing API which stores their information in its own data base and performs calculations to determine if a user can be approved for financing using an algorithm. The API then returns the approval status to the Interstellar Financing Portal and an approval message is displayed to the user.</p>
