@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Both the Interstellar Financing Portal and the Interstellar Financing API were built by Chris Grindereng. If you would like to view the source code check it out on GitHub here: </p>
<p>If you would like to get in contact with Chris email him at <a class="bttmIcons" href="mailto:chris.grindereng@gmail.com">chris.grindereng@gmail.com</a> </p>
<p>Check out some of Chris’ other work at <a href="https://chrisgrindereng.github.io/profile/">www.chrisgrindereng.org</a></p>