@{
    ViewBag.Title = "Home Page";
}
<div id="homeboard">
    <div class="jumbotron">
        <h1 id="notTransparent">Welcome</h1>
        <p id="notTransparent" class="lead">This payment portal is built as an example of web services offering real time finanial approvals for customers trying to purchise a energy system such as solar for their home. Register and Log In to begin the totorial of how the process works.</p>
        <p id="notTransparent"><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
        <p>     or</p>
        <p id="notTransparent"><a href="/Account/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
    </div>
</div>

@*currently not needed but kept for additional features later on*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@