@{
    ViewBag.Title = "Project Overview";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="bhoechie-tab">
            <div class="bhoechie-tab-content active">
                <p>
                    We have great news,
                    you've been approved!
                    Thank you for choosing Interstellar Energy!
                </p>
                <p>
                    I hope you enjoyed this demonstration. If you would like to get in contact with me the developer please email me below:
                </p> 
                <p><a class="bttmIcons" href="mailto:chris.grindereng@gmail.com">chris.grindereng@gmail.com</a></p>
            </div>
        </div>
   </div>
</body>
</html>
