@{
    ViewBag.Title = "Project Installation";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="bhoechie-tab">
        <div class="bhoechie-tab-content active">
            <p style="font-size:medium;margin-bottom:20px;">Below you can select from quality installers to find the one that is right for you and your budget.</p>
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-heading noNote">
                        <div class="title-right"></div>
                        <div class="panel-title">Installers</div>
                    </div>
                    <div>
                        <div class="card card-1" style="width: 20rem;">
                            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTonr_GZrBTKzHYkyQPcxDxs8uaCs3mBvNSU83KSXZFIAecx_x6" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">This Guy Solar Installation</h4>
                                <p class="card-text">This Guy has been in the business for many years and is focused on providing to quality services for our customers.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li>Years in Business: 11</li>
                                <li>Member of the Green Business Counil</li>
                                <li>A+ BBB Rating</li>
                                <li>Cost: $1200</li>
                            </ul>
                            <div class="btn">
                                <a href="#" type="button">Select this Installer</a>
                            </div>
                        </div>
                        <div class="card card-1" style="width: 20rem;">
                            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTonr_GZrBTKzHYkyQPcxDxs8uaCs3mBvNSU83KSXZFIAecx_x6" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">This Guy Solar Installation</h4>
                                <p class="card-text">This Guy has been in the business for many years and is focused on providing to quality services for our customers.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li>Years in Business: 11</li>
                                <li>Member of the Green Business Counil</li>
                                <li>A+ BBB Rating</li>
                                <li>Cost: $1200</li>
                            </ul>
                            <div class="btn">
                                <a href="#" type="button">Select this Installer</a>
                            </div>
                        </div>
                        <div class="card card-1" style="width: 20rem;">
                            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTonr_GZrBTKzHYkyQPcxDxs8uaCs3mBvNSU83KSXZFIAecx_x6" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">This Guy Solar Installation</h4>
                                <p class="card-text">This Guy has been in the business for many years and is focused on providing to quality services for our customers.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li>Years in Business: 11</li>
                                <li>Member of the Green Business Counil</li>
                                <li>A+ BBB Rating</li>
                                <li>Cost: $1200</li>
                            </ul>
                            <div class="btn">
                                <a href="#" type="button">Select this Installer</a>
                            </div>
                        </div>
                        <div class="card card-1" style="width: 20rem;">
                            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTonr_GZrBTKzHYkyQPcxDxs8uaCs3mBvNSU83KSXZFIAecx_x6" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">This Guy Solar Installation</h4>
                                <p class="card-text">This Guy has been in the business for many years and is focused on providing to quality services for our customers.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li>Years in Business: 11</li>
                                <li>Member of the Green Business Counil</li>
                                <li>A+ BBB Rating</li>
                                <li>Cost: $1200</li>
                            </ul>
                            <div class="btn">
                                <a href="#" type="button">Select this Installer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
