@{
    ViewBag.Title = "My System";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
        <div class="bhoechie-tab">
            <div class="bhoechie-tab-content active">
                <p style="font-size:medium;margin-bottom:20px;">Below you can select from different systems and find the one thats right for you and your budget.</p>
                <div class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="panel-heading noNote">
                            <div class="title-right"></div>
                            <div class="panel-title">Systems</div>
                        </div>
                        <div>
                            <div class="card card-1" style="width: 20rem;">
                                <img class="card-img-top" src="http://sraint.com/wp-content/uploads/2013/06/solar-power-stock.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">WOW Solar Panels</h4>
                                    <p class="card-text">This system provides a great balance between cost and performance with solid power output!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li>Panel Type: Polycrystalline</li>
                                    <li>Inverter: 2,000-Watt Xantrex</li>
                                    <li>Power Output: 12KWH per Day</li>
                                    <li>Cost: $2096</li>
                                </ul>
                                <div class="btn">
                                    <a href="/Dashboard/ProjectInstallation" type="button">Select this System</a>
                                </div>
                            </div>
                            <div class="card card-1" style="width: 20rem;">
                                <img class="card-img-top" src="http://sraint.com/wp-content/uploads/2013/06/solar-power-stock.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">WOW Solar Panels</h4>
                                    <p class="card-text">This system provides a great balance between cost and performance with solid power output!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li>Panel Type: Polycrystalline</li>
                                    <li>Inverter: 2,000-Watt Xantrex</li>
                                    <li>Power Output: 12KWH per Day</li>
                                    <li>Cost: $2096</li>
                                </ul>
                                <div class="btn">
                                    <a href="/Dashboard/ProjectInstallation" type="button">Select this System</a>
                                </div>
                            </div>
                            <div class="card card-1" style="width: 20rem;">
                                <img class="card-img-top" src="http://sraint.com/wp-content/uploads/2013/06/solar-power-stock.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">WOW Solar Panels</h4>
                                    <p class="card-text">This system provides a great balance between cost and performance with solid power output!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li>Panel Type: Polycrystalline</li>
                                    <li>Inverter: 2,000-Watt Xantrex</li>
                                    <li>Power Output: 12KWH per Day</li>
                                    <li>Cost: $2096</li>
                                </ul>
                                <div class="btn">
                                    <a href="/Dashboard/ProjectInstallation" type="button">Select this System</a>
                                </div>
                            </div>
                            <div class="card card-1" style="width: 20rem;">
                                <img class="card-img-top" src="http://sraint.com/wp-content/uploads/2013/06/solar-power-stock.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">WOW Solar Panels</h4>
                                    <p class="card-text">This system provides a great balance between cost and performance with solid power output!</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li>Panel Type: Polycrystalline</li>
                                    <li>Inverter: 2,000-Watt Xantrex</li>
                                    <li>Power Output: 12KWH per Day</li>
                                    <li>Cost: $2096</li>
                                </ul>
                                <div class="btn">
                                    <a href="/Dashboard/ProjectInstallation" type="button">Select this System</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

</body>
</html>
